body{
	padding-top:0;
}

tr{
	cursor:pointer;
}

#header{
	width:100%;
}

#mc{
	width:90%;
	float:left;
}
#vheader{
	background:#404041;
	height:1500px; 
	width:10%; 
	float:left;
}

#hheader{
	width:100%; 
	float:left; 
	background:#7AA6B3; 
	height:55px;
	text-align:right;
}

#condec{
	height:55px !important;
	padding-left:60%;
}



#condec li{
	list-style: none;
	margin:16px;
	margin-left:5px;
	margin-right:5px;
	background:#346F81;
	border-radius:4px;
	height:25px !important;
	width:120px;
	text-align:center;
	color:#FFF;
	float:left;
}

#hmenu{
	padding-left:20px;
	line-height:55px;
}

#maincontainer{
	padding-top:40px;
	width:100%;
	
}

#logo{
min-height:54px;
border:dotted 1px;
}

#functionalities{
	width:100%;
	margin:0;
	margin-top:130px;
}

#functionalities li{
	
	width:100%;
	list-style-type:none;
	height:45px;
	line-height:45px;
	color:#222;
	border-bottom:solid 1px;
	text-align:center;
	background-image:url('/SKam/public/img/funcbg.jpg');
	background-position:0 0;
	background-repeat:no-repeat;
}

#functionalities li:hover{
	background:#222;
	background-image:url('/SKam/public/img/funcbg.jpg');
	background-position:0 -56px;
	background-repeat:no-repeat;
}

#functionalities a{
	color:white;
	font-size:12px;
	width:100%;
	height:100%;
}

.sectionmenu{
	height:40px;
	width:87%;	
	border:solid 1px #FBEED5;
	border-radius:6px;
	padding:10px;
	padding-left:30px;
	margin-top:50px;
	background-color: #FCF8E3;
}

.sectionmenu2{
	line-height:30px;
	border-bottom:solid 1px;
	padding-left:350px;
}

.pageitem {
	display: inline-block;
	height:40px;
	background: #FBB459;
	margin-right:10px;
	line-height:40px;
	border:solid 1px #F89406;
	color:#FFF;
	padding-left:5px;
	padding-right:5px;
}

.clientitem {
	margin-top:10px;
	margin-left:10px;
	height:30px;	
	line-height:30px;
	border:solid 1px red;
	width:100px;
	padding-left:5px;
	padding-right:5px;	
}

.clientitem a{
	line-height:30px;
}

.pageitem a{
	line-height:50px;
}

.clcontainer{
	line-height:20px;
	padding-left:30px;
	padding-top:8px;
	
}

.cl1{
	float:left;
	width:30%;
	margin-left:10px;
}

.cl11{
	width:22%;
	margin-left:100px;
	float:left;
	padding-top:5px;
	text-align:center;
}

.cl11 p{
	width:250px;
	border:solid 1px #346F81;
	padding:0px;
	height:30px;
	line-height:30px;
	text-align:center;
}

.spancl{
	width:30%;
	padding-left:0px;
}

.spanclc{
	width:30% !important;
	padding-left:0px;
	line-height:30px;
	margin-left:0 !important;
}

#creerclt:hover{
	color:red;	
}

.divtitre{
	margin:20px;
	margin-left: 0px;
	margin-bottom:30px;
	width:100%;
}

.inimp{
	line-height:30px;
	width:30% !important;
	border-radius:0px !important;
	border:solid 1px #346F81 !important;
}

.cnimp{
	width:60%;
	border-radius:0px !important;
	border:solid 1px #346F81 !important;
	
}

#modal{
	height: 0px; 
	border-top: solid 1px #F89406; 	
	background: rgb(245, 245, 245);
	background-image:url('/SKam/public/img/bg-top.jpg') !important;
}

#modal p{
	margin:0;
}

.cl11 p{
	width:250px;
	border:solid 1px #346F81;
	padding:0px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-top:10px !important;
}

.cldcontainer{
	
	padding:15px;
	*/padding-top:5px;
	margin-right:30px;
	margin-top:-15px;
}

h5{
	margin-bottom:20px;
}

.cldcontainer h5{
	margin-bottom:10px;
}

#dialoginfo{
	position:absolute;
	top:100px;
	left:200px;
	
	background:red;
}

.voirclt{
	text-align:center !important;
}

.floatleft{
	width:50%;
	float:left;
}

.mediuminput{
	width:150px;
}

.mediuminput p{
	text-align:left !important;
}

.btndiv{
	clear:both; 
	padding-left:30px;
	margin-top:30px;
	margin-bottom:30px;
}

#clttable, #operationstable, #facturetable td{
	line-height:10px;
}

.oracl{
	background-color: #FFAC33;
	background-image: linear-gradient(#FFCC4D,#FFAC33);
	border-color: #F1A02A !important;
	text-shadow: 0 1px 0 ;
	color: #292F33;
}

.oracl:hover{
	background-image: linear-gradient(#FFF,#FFAC33);
	background-color:#FFAC33 !important;
}

.enrbtn{
	width:100%;
	padding-left:69%;
}

#savereglement{
	width:160px;
	height:20px;
	line-height:20px;
	text-shadow: 0 1px 0 ;
	color: #292F33;
	border:solid 1px #FFAC33;
	text-align:center;
	background-image: linear-gradient(#FFF,#FFAC33);
	background-color:#FFAC33 !important;
	
}