<style>
.container{
	margin-top:200px;
}
</style>
<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 col-lg-6">
<form action="categorie/add" method="post">
<div class="form-group row">
<label for="you" class="col-sm-2 col-lg-2 form-control-label">Name</label>
<div class="col-sm-10 col-lg-10">
<input name="name" type="text" class="form-control" id="you">
</div>
</div>
<div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Parent</label>
        <div class="col-sm-4">
            <select   name="parent" class="form-control" id="you">
                <option>0</option>
                
            </select>
        </div>    
           
        </div>
<div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
</form>
</div>
<div class="col-sm-3"></div>
</div>
</div>
