<style>
.container{
	margin-top:50px;
}
</style>
<?php 

?>
<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 col-lg-6">
<form action="etablissement/add" method="post">
        <div class="form-group row">
        <label for="you" class="col-sm-2 col-lg-2 form-control-label">Name</label>
        <div class="col-sm-10 col-lg-10">
            <input name="name" type="text" class="form-control input-sm" id="you">
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Adresse</label>
        <div class="col-sm-10">
            <Textarea  name="adresse" rows="3" class="form-control" id="you"></Textarea>
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Ville</label>
        <div class="col-sm-4">
            <input name="ville" type="text" class="form-control  input-sm" id="you">
        </div>
        </div>
        
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Téléphone</label>
        <div class="col-sm-4">
            <input name="tel" type="text" class="form-control input-sm" id="you">
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Site</label>
        <div class="col-sm-10">
            <input name="site" type="text" class="form-control input-sm" id="you">
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Logo</label>
        <div class="col-sm-4">
            <input type="file" class="file" id="you">
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Horraire</label>
        <div class="col-sm-10">
            <input name="horraire" type="text" class="form-control input-sm" id="you">
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Avis</label>
        <div class="col-sm-2">
            <input name="avis" type="text" class="form-control input-sm" id="you" value="0" readonly>
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Déscription</label>
        <div class="col-sm-10">
            <Textarea row="3" class="form-control" id="you"></Textarea>
        </div>
        </div>
        <div class="form-group row">
        <label for="you" class="col-sm-2 form-control-label">Catégorie</label>
        <div class="col-sm-4">
            <select   name="categorie" class="form-control  input-sm" id="you">
                <?php 
                
                foreach ($select as $option){
                	echo '<option>'.$option['name'].'</option>';
                }
                ?>
            </select>
        </div>    
        <div class="col-sm-4">
            <button class="form-control btn-info  input-sm" id="you">Ajouter une catégorie</button>
        </div>    
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success  input-sm">Enregistrer</button>
            </div>
        </div>
</form>
</div>
<div class="col-sm-3"></div>
</div>

</div>